<div class="subnav">
    <div class="header-wrapper">
        <a asp-controller="Category" class="subnav-item">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <p class="category">Phone</p>
        </a>
        <a asp-controller="Category" class="subnav-item">
            <i class="fa-solid fa-computer"></i>
            <p class="category">Computer</p>
        </a>
        <a asp-controller="Category" class="subnav-item">
            <i class="fa-solid fa-camera"></i>
            <p class="category">Camera</p>
        </a>
        <a asp-controller="Category" class="subnav-item">
            <i class="fa-solid fa-headphones"></i>
            <p class="category">Headphone</p>
        </a>
        <a asp-controller="Category" class="subnav-item">
            <i class="fa-regular fa-clock"></i>
            <p class="category">Smart Watches</p>
        </a>
        <a asp-controller="Category" class="subnav-item">
            <i class="fa-solid fa-gamepad"></i>
            <p class="category">Gaming</p>
        </a>
    </div>
</div>
